body {
  font-family: 'Roboto', sans-serif;
}

.sidebar {
  position: absolute;
  top: 0;
  left: -100%;
  padding-bottom: 208px;
  z-index: 5;
  width: 100%;
  background: #2F3132;
  transition: .3s;
}

.sidebar.active {
  left: 0;
}

.exit-btn {
  position: absolute;
  top: 14px;
  right: 15px;
  background-image: url('./img/sidebar/Vector 8.svg');
  height: 41px;
  width: 41px;
}

.sidebar__logo {
  margin-top: 25px;
  text-align: center;
}

.sidebar__logo img {
  width: 130px;
}

.sidebar__menu {
  margin-top: 148px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 0;
}

.sidebar__menu li {
  list-style: none;
  margin-bottom: 32px;
  text-align: center;
}

.sidebar__menu li a {
  text-decoration: none;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  color: #C4C4C4;
}

.sidebar__menu li a.active {
  color: #FFFFFF;
  border-bottom: 2px solid #FFFFFF;
}

.navbar {
  padding-top: 25px;
}

.navbar > .container-fluid {
  padding-left: 0;
  padding-right: 0;
  justify-content: space-between;
}

.navbar .navbar-toggler {
  position: absolute;
  padding: 0;
  border: none;
  border-radius: 0;
  top: 25px;
  right: 29px;
}

.navbar-light .navbar-toggler-icon {
  background-image: url('./img/mob/menu-burger.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 30px;
  height: 16px;
}

.navbar a {
  margin: 0 auto;
}

.navbar-expand-lg .navbar-collapse {
  display: none !important;
}

.header__logo_light {
  display: none;
}

.header__logo {
  width: 130px;
}

.title {
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #2F3132;
  margin-bottom: 20px;
}

.text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #2F3132;
  margin-bottom: 0;
}

.text_margin {
  margin-left: 34px;
  margin-right: 33px;
}

.text_flow {
  margin-bottom: 23px;
  text-align: left;
  width: 222px;
}

.text_settings {
  color: #FFFFFF;
  margin-left: 5px;
  margin-right: 11px;
  font-size: 14px;
  line-height: 16px;
}

.top {
  background: #E0E1E2;
  padding-bottom: 48px;
}

.top__img {
  margin-top: 94px;
  height: 230px;
  background-image: url('./img/mob/MX-Master 1.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 67px;
}

.top__text-margin {
  margin-left: 59px;
  margin-right: 59px;
}

.top__arrow {
  margin-top: 40px;
}

.center-content {
  display: flex;
  justify-content: center;
}

.bluetooth {
  background: #EDEDED;
  padding-top: 42px;
  padding-bottom: 18px;
}

.bluetooth__icon {
  margin-bottom: 27px;
}

.bluetooth__heading {
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
  line-height: 70px;
  text-align: center;
  text-transform: uppercase;
  color: #C4C4C4;
  margin-top: 31px;
}

.bluetooth__image {
  height: 288px;
  background-image: url('./img/mob/High_Resolution_PNG-MX Master 3 LEFT GRAPHITE 1.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.info {
  padding-top: 70px;
  padding-bottom: 63px;
}

.info__content {
  margin-top: 30px;
  margin-bottom: 28px;
  display: flex;
  justify-content: center;
  gap: 6px;
}

.info__item {
  border: 1px solid #2F3132;
  flex-basis: 166px;
  min-height: 94px;
  padding-left: 18px;
  padding-right: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info__title {
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #2F3132;
  margin-bottom: 70px;
}

.info__text {
  margin-left: 67px;
  margin-right: 61px;
}

.carousel {
  margin-bottom: 28px;
}

.soft-slider {
  margin: 0;
  top: calc(100% + 64px);
  bottom: -95px;
}

.soft-slider .btn {
  border: none;
  border-radius: 50%;
  margin: 0 23px 0 0;
  opacity: 1;
  padding: 0;
  width: 31px;
  height: 31px;
  background-size: contain;
}

.soft-slider .btn:last-of-type {
  margin-right: 0;
}

.soft-slider .btn0 {
  background-image: url('./img/soft-slider/0.png');
}

.soft-slider .btn1 {
  background-image: url('./img/soft-slider/1.png');
}

.soft-slider .btn2 {
  background-image: url('./img/soft-slider/2.png');
}

.soft-slider .btn3 {
  background-image: url('./img/soft-slider/3.png');
}

.soft-slider .btn4 {
  background-image: url('./img/soft-slider/4.png');
}

.soft-slider-control {
  top: calc(100% + 64px);
  bottom: -95px;
  z-index: 3;
  opacity: 1;
  width: 23px;
}

.carousel-control-prev {
  width: 9px;
  left: calc(50% - 159px);
}

.carousel-control-next {
  width: 9px;
  right: calc(50% - 159px);
}

.soft-slider-control .carousel-control-prev-icon {
  background-image: url('./img/soft-slider/arrow-left.svg');
  background-repeat: no-repeat;
  background-size: 9px 18px;
}

.soft-slider-control .carousel-control-next-icon {
  background-image: url('./img/soft-slider/arrow-right.svg');
  background-repeat: no-repeat;
  background-size: 9px 18px;
}

.info__item .title {
  margin-bottom: 5px;
}

.flow {
  padding-top: 70px;
  padding-bottom: 58vw;
  background-image: url('./img/mob/High_Resolution_JPG-MX Lifestyle 2346 1.png');
  background-color: #EDEDED;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}

.flow p.text:first-of-type {
  margin-bottom: 20px;
}

.flow__ol {
  margin-top: 36px;
  margin-left: 54px;
  margin-bottom: 0;
  padding-left: 0;
  list-style-position: inside;
}

.settings {
  padding-top: 70px;
  background-color: #EDEDED;
}

.settings-slider {
  margin: 0;
  top: calc(100% + 20px);
  bottom: -35px;
}

.settings-slider .btn {
  border: none;
  border-radius: 50%;
  margin: 0 15px 0 0;
  opacity: 1;
  padding: 0;
  width: 15px;
  height: 15px;
  background-color: #C4C4C4;
}

.settings-slider .btn.active {
  background-color: #2F3132;
}

.settings-slider .btn:last-of-type {
  margin-right: 0;
}

.settings__picture {
  display: none;
}

.settings__slider {
  margin: 35px 22px 95px 23px;
}

.settings__content {
  background-color: #C4C4C4;
  padding: 23px 22px 26px 29px;
}

.settings__icons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.mouse__text {
  margin-top: 70px;
  margin-bottom: 20px;
}

.mouse__img {
  height: 310px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.mouse__img_1 {
  background-image: url('./img/mob/image 1.png');
}

.mouse__img_2 {
  background-image: url('./img/mob/image 2.png');
}

.footer {
  background-color: #2F3132;
  height: 75px;
  font-style: normal;
  font-weight: normal;
  font-size: 7px;
  line-height: 8px;
  text-align: center;
  color: #C7C8C8;
  padding-top: 22px;
}

@media (min-width: 768px) {
  .top {
    padding-bottom: 80px;
  }

  .navbar .navbar-toggler {
    top: 54px;
    right: 58px;
  }

  .navbar-light .navbar-toggler-icon {
    background-image: url('./img/tablet/menu-burger.svg');
    width: 61px;
    height: 32px;
  }

  .sidebar {
    padding-bottom: 141px;
  }

  .exit-btn {
    top: 45px;
    right: 65px;
    background-image: url('./img/sidebar/Vector_tablet.svg');
    height: 87px;
    width: 87px;
  }

  .sidebar__logo {
    margin-top: 64px;
  }

  .sidebar__logo img {
    width: 240px;
  }

  .sidebar__menu {
    margin-top: 123px;
  }

  .sidebar__menu li {
    margin-bottom: 59px;
  }

  .sidebar__menu li a {
    font-size: 40px;
    line-height: 47px;
  }

  .sidebar__menu li a.active {
    border-bottom: 4px solid #FFFFFF;
  }

  .navbar {
    padding-top: 54px;
  }

  .header__logo {
    width: 240px;
  }

  .top__img {
    margin-top: 160px;
    margin-bottom: 124px;
    height: 514px;
    background-image: url('./img/tablet/MX-Master 1.png');
  }

  .title {
    font-size: 40px;
    line-height: 47px;
    margin-bottom: 30px;
  }

  .text {
    font-size: 24px;
    line-height: 28px;
  }

  .text_margin {
    margin-left: 77px;
    margin-right: 77px;
  }

  .top__text-margin {
    margin-left: 160px;
    margin-right: 160px;
  }

  .top__arrow {
    margin-top: 76px;
  }

  .top__arrow .top__svg {
    width: 57px;
    height: 29px;
  }

  .bluetooth {
    padding-top: 80px;
    padding-bottom: 0;
  }

  .bluetooth__icon {
    margin-bottom: 39px;
  }

  .bluetooth__icon svg {
    height: 40px;
    width: 21px;
  }

  .bluetooth__heading {
    font-size: 150px;
    line-height: 176px;
  }

  .bluetooth__image {
    height: 595px;
    background-image: url('./img/tablet/High_Resolution_PNG-MX Master 3 LEFT GRAPHITE 1.png');
    transform: translateY(3px);
    margin-left: 39px;
    margin-right: 19px;
  }

  .info {
    padding-bottom: 61px;
  }

  .info__content {
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 30px;
  }

  .info__item {
    min-height: 170px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .info__item .title {
    margin-bottom: 10px;
  }

  .info__title {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 85px;
  }

  .carousel {
    margin-bottom: 50px;
  }

  .soft-slider .btn {
    width: 40px;
    height: 40px;
    margin-bottom: 30px;
  }

  .soft-slider {
    top: calc(100% + 101px);
    bottom: -101px;
  }

  .soft-slider-control {
    top: calc(100% + 121px);
    bottom: -121px;
    width: 12px;
  }

  .soft-slider-control .carousel-control-prev-icon,
  .soft-slider-control .carousel-control-next-icon {
    background-size: 12px 24px;
  }

  .carousel-control-prev {
    width: 12px;
    left: calc(50% - 202px);
  }

  .carousel-control-next {
    width: 12px;
    right: calc(50% - 202px);
  }

  .flow {
    padding-bottom: 498px;
    background-image: url('./img/tablet/High_Resolution_JPG-MX Lifestyle 2346 1.png');
    padding-left: 64px;
    padding-right: 68px;
  }

  .flow p.text:first-of-type {
    margin-bottom: 30px;
  }

  .flow .text.text_margin {
    margin-left: 0;
    margin-right: 0;
  }

  .flow__ol {
    display: flex;
    margin-top: 70px;
    margin-left: 0;
  }

  .text_flow {
    width: auto;
    padding: 8px 15px 4px 28px;
    border-left: 1px solid #494949;
    font-size: 20px;
    line-height: 23px;
  }

  .text_flow:first-child {
    border-left: none;
    padding-left: 0;
  }

  .text_flow:last-child {
    padding-right: 0;
    padding-left: 22px;
  }

  .settings {
    padding: 70px 65px 70px 64px;
  }

  .settings__slider {
    margin: 54px 134px 148px 135px;
  }

  .settings-slider {
    top: calc(100% + 53px);
    bottom: -78px;
  }

  .settings-slider .btn {
    margin-right: 25px;
    width: 25px;
    height: 25px;
  }

  .text_settings {
    margin-left: 64px;
    margin-right: 64px;
  }

  .settings .text.text_margin {
    margin-left: 0;
    margin-right: 0;
  }

  .settings__content {
    padding: 38px 0 29px 0;
  }

  .settings__icons {
    margin-left: 127px;
    margin-right: 126px;
  }

  .settings__img {
    height: 35px;
  }

  .text_settings {
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
  }

  .mouse {
    padding-left: 67px;
    padding-right: 65px;
  }

  .mouse .text.text_margin {
    margin-left: 0;
    margin-right: 0;
  }

  .mouse__img {
    height: 549px;
    background-size: cover;
    margin-left: -67px;
    margin-right: -65px;
  }

  .mouse__text {
    margin-bottom: 50px;
  }

  .mouse__img_1 {
    background-image: url('./img/tablet/image 1.jpg');
  }

  .mouse__img_2 {
    background-image: url('./img/tablet/image 2.jpg');
  }

  .footer {
    height: 150px;
    padding-top: 47px;
    font-size: 14px;
    line-height: 16px;
  }
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-toggler {
    display: block;
  }
}
@media (min-width: 1024px) {
  .center {
    padding-left: calc(50% - 1160px / 2);
    padding-right: calc(50% - 1160px / 2);
  }

  .center_header {
    padding-left: max(calc(50% - 1160px / 2), 61px);
    padding-right: max(calc(50% - 1160px / 2), 62px);
  }

  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }

  .navbar-expand-lg .navbar-toggler {
    display: none;
  }

  .header {
    background-color: #2F3132;
    height: 100px;
    display: flex;
    align-items: center;
  }

  .header__logo {
    width: 150px;
  }

  .navbar {
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar > .container-fluid {
    justify-content: space-between;
  }

  .navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
  }

  .navbar-light .navbar-nav .nav-link {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #FFFFFF;
  }

  .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show > .nav-link {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    border-bottom: 1px solid #ccc;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 0;
    padding-right: 0;
  }

  .nav-item {
    padding: 8px 21px;
    border-left: 1px solid #494949;
  }

  .nav-item:first-of-type {
    border-left: none;
    padding-left: 0;
  }

  .nav-item:last-of-type {
    padding-right: 0;
  }

  .header__logo_light {
    display: block;
    width: 150px;
  }

  .header__logo_dark {
    display: none;
  }

  .top {
    padding-bottom: 56px;
  }

  .top__img {
    margin-top: -10px;
    margin-bottom: 8px;
    padding-top: 80px;
    height: 671px;
    background-image: url('./img/desktop/MX-Master 1.png');
  }

  .title {
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 35px;
  }

  .text {
    font-size: 20px;
    line-height: 23px;
  }

  .info__text {
    width: 765px;
    margin: auto;
  }

  .top__arrow {
    margin-top: 49px;
  }

  .bluetooth {
    padding-top: 45px;
    padding-bottom: 48px;
  }

  .center_top-text {
    width: 761px;
    margin: auto;
  }

  .bluetooth__icon {
    margin-bottom: 41px;
  }

  .bluetooth__image {
    height: 426px;
    background: url('./img/desktop/High_Resolution_PNG-MX Master 3 FRONT GRAPHITE 1.png') no-repeat 0 119px,
    url('./img/desktop/High_Resolution_PNG-MX Master 3 LEFT GRAPHITE 1 (2).png') no-repeat right 119px;
    margin: 0;
  }

  .center_bluetooth {
    padding: 0 calc(50% - 622px);
  }

  .bluetooth__heading {
    margin-top: 14px;
    font-size: 96px;
    line-height: 112px;
    display: flex;
    justify-content: center;
  }

  .bluetooth__heading span:first-of-type {
    font-size: 300px;
    line-height: 352px;
    padding-left: 79px;
  }

  .bluetooth__heading span:last-of-type {
    padding-top: 45px;
  }

  .info {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .info__title {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 90px;
  }

  .carousel {
    margin-bottom: 39px;
  }

  .soft-slider {
    top: calc(100% + 77px);
    bottom: -77px;
  }

  .soft-slider-control {
    top: calc(100% + 97px);
    bottom: -97px;
    width: 12px;
  }

  .info__item {
    min-height: 140px;
    min-width: 236px;
    padding: 0 24px;
  }

  .info__item .title {
    margin-bottom: 5px;
  }

  .center_slider {
    padding: 0 calc(50% - 640px);
  }

  .flow {
    background-image: url('./img/tablet/High_Resolution_JPG-MX Lifestyle 2346 2.png');
    padding-top: 70px;
    padding-bottom: 654px;
  }

  .center_flow {
    padding-left: calc(50% - 479px);
    padding-right: calc(50% - 479px);
  }

  .flow p.text:first-of-type {
    margin-bottom: 22px;
  }

  .flow__ol {
    margin-left: 15px;
  }

  .settings {
    padding-top: 70px;
    padding-bottom: 71px;
  }

  .settings__slider {
    display: none;
  }

  .settings .text.text_margin {
    width: 805px;
    margin: auto;
  }

  .settings__picture {
    display: block;
    max-width: 1171px;
    margin-top: 72px;
    margin-left: 54px;
    margin-right: 55px;
  }

  .settings__picture img {
    width: 100%;
    height: auto;
  }

  .settings__content {
    width: 749px;
    margin: auto;
  }

  .center_mouse {
    padding-left: calc(50% - 655px);
    padding-right: calc(50% - 655px);
  }

  .mouse {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }

  .reverse {
    display: flex;
    flex-direction: row-reverse;
  }

  .mouse__img {
    margin-left: 0;
    margin-right: 0;
  }

  .mouse__text {
    margin: 0;
    padding: 0 37px 0 calc(50% - 400px);
  }

  .reverse .mouse__text {
    padding: 0 calc(50% - 400px) 0 37px;
  }

  .reverse .mouse__text .title,
  .reverse .mouse__text .text {
    text-align: left;
  }

  .mouse__text .title,
  .mouse__text .text {
    text-align: right;
  }

  .mouse__item {
    height: 557px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .mouse__img_1 {
    background-image: url('./img/tablet/image 1hor.png');
  }

  .mouse__img_2 {
    background-image: url('./img/tablet/image 2hor.png');
  }
}

@media (min-width: 1920px) {
  .top {
    padding-bottom: 80px;
  }

  .top__img {
    margin-top: 20px;
    padding-top: 80px;
  }

  .navbar {
    margin-left: 0;
    margin-right: 0;
  }

  .bluetooth {
    padding-top: 80px;
    padding-bottom: 69px;
  }

  .bluetooth__icon {
    margin-bottom: 35px;
  }

  .info {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .flow {
    background-image: url('./img/desktop/High_Resolution_JPG-MX Lifestyle 2346 1.png');
    padding-top: 100px;
    padding-bottom: 870px;
  }

  .settings {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .mouse {
    display: flex;
    flex-wrap: wrap;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .mouse__img_1 {
    background-image: url('./img/desktop/image 1.png');
    background-size: 655px;
    background-position: bottom right;
  }

  .mouse__img_2 {
    background-image: url('./img/desktop/image 2.png');
    background-size: 655px;
    background-position: top left;
  }
}